<!DOCTYPE html <html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/rain.webp">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Anushtha Patel.</p>
        <p>It uses data from the open weather map api and mapbox.</p>
        <img class="portrait" src="/img/anushtha.png">
        <p>For further information. Contact me at</p>
        <div class="Contact ">
            <a href="https://www.instagram.com/anushtha_1810/" class="fa fa-instagram" target="blank"></a>
            <p> id-anushtha_1810</p>
            <a href="https://www.linkedin.com/in/anushtha-patel-0883851a1/" class="fa fa-linkedin" target="blank"></a>
        </div>
        {{>footer}}
</body>

</html>