<!DOCTYPE html <html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/rain.webp">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>In this site , all you have to do is enter the name of the place for which you want to search the weather </p>
        <p>Then hit the search button and wait for sometime.</p>
        <p>Now your weather forecast is on your screen</p>
    </div>
    {{>footer}}
</body>

</html>