<!DOCTYPE html <html>

<head>
    <title>Help</title>
     <link rel="icon" href="/img/rain.webp">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <ul>
        <li>Enter the name of the place u want to search </li>
        <li>Then hit the "search" and wait for sometime.</li>
        <li>Now your weather forecast is on your screen</li></ul>
    </div>
    {{>footer}}
</body>

</html>